*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'DM Sans', sans-serif;
background:#ffb8ca;
color:white;
}



main{
width:1280px;
height:665px;
margin:0 auto;
position:relative;
}

/* HEADER */

header{
width:1280px;
margin:0 auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 40px;
}

.logo img{
height:40px;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:white;
}

.buy{
background:white;
color:#d41443;
border:none;
padding:10px 20px;
border-radius:25px;
}

/* HERO */

.hero{
position:relative;
width:100%;
height:665px;
}

/* КОЛО */

.hero::before{
content:"";
position:absolute;
width:538px;
height:538px;
background:#ffa5ba;
border-radius:50%;
top:50px;
left:500px;
z-index:0;
}

/* TEXT */

.hero-text{
position:absolute;
top:150px;
left:60px;
z-index:2;
width:300px;
}

.hero-text h2{
font-family:'Fredoka', sans-serif;
font-size:38px;
line-height:1.1;
}

.hero-text span{
font-size:64px;
color:#d41443;
}

/* BUTTONS */

.buttons{
margin-top:20px;
display:flex;
gap:10px;
}

.btn-red{
background:#d41443;
color:white;
border:none;
padding:10px 18px;
border-radius:25px;
}

.btn-white{
background:white;
color:#d41443;
border:none;
padding:10px 18px;
border-radius:25px;
}



.hero-icecream{
position:absolute;
top:108px;
left:594px;
z-index:2;
}

.hero-icecream img{
width:236px;
height:557px;
object-fit:contain;
}



.milk{
position:absolute;
top:429px;
left:77px;
z-index:2;
}

.milk img{
width:188px;
height:191px;
}



.girl{
position:absolute;
top:433px;
left:878px;
z-index:2;
}

.girl img{
width:293px;
height:232px;
}



.girl::before{
content:"";
position:absolute;
width:250px;
height:250px;
background:#ffa5ba;
border-radius:50%;
top:-30px;
left:40px;
z-index:-1;
}

/* BUBBLE */

.girl::after{
position:absolute;
left:-160px;
top:40px;
background:white;
color:#d41443;
padding:12px 18px;
border-radius:30px;
font-weight:700;
font-family:'Fredoka', sans-serif;
}

/* STATS */

.hero-stats{
position:absolute;
top:150px;
right:60px;
text-align:right;
}

.stat{
margin-bottom:20px;
}

.stat span{
display:block;
font-size:46px;
font-weight:700;
color:#d41443;
}
